<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Клиенты</title>
</head>

<body>
<h2>Клиенты</h2>
<table>
    <thead>
    <tr>
        <th>
            Имя
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${customers.isEmpty()}">
        <td colspan="2"> Нет данных по клиентам</td>
    </tr>
    <tr th:each="customer : ${customers}">
                <td><a th:href="@{/customers/{id}(id = ${customer.getId()})}" th:text="${customer.getName()}">customer</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
