<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/style.css"/>
    <meta charset="UTF-8">
    <title>Товары</title>
</head>

<body>

<h2>Товары</h2>

<table>
    <thead>
    <tr>
        <th>
            Наименование
        </th>
        <th>
            Цена
        </th>
        <th>

        </th>
    </tr>
    </thead>
    <tbody>
<!--    <tr th:if="${products.isEmpty()}">-->
<!--        <td colspan="2"> Нет доступных товаров</td>-->
<!--    </tr>-->
    <tr th:each="product : ${products}">
        <td><a th:href="@{/products/{id}(id = ${product.getId()})}" th:text="${product.getTitle()}">product</a></td>
        <td><span
                th:text="${#numbers.formatDecimal(product.getPrice(), 0, 'COMMA', 2, 'POINT')}"> cost </span>
        </td>
        <td>
            <form th:method="delete" th:action="@{/products/{id}(id=${product.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{/products/new}">
        <button type="button">Добавить товар</button>
    </a>
</div>

</body>
</html>