<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый товар</title>
</head>
<body>

<form method="post" th:action="@{/products}" th:object="${product}">
    <p>
        <label for="id">Id:</label>
        <input type="text" size="10" readonly id="id" th:field="*{id}"/><br>
        <label for="name">Наименование:</label>
        <input type="text" size="40" id="name" th:field="*{title}"/><br>
        <label for="cost">Цена:</label>
        <input type="text" size="10" id="cost" th:field="*{price}"/>
    </p>
    <p>
        <input type="submit" value="Сохранить">
    </p>
</form>
</body>
</html>