<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>
            <div sec:authorize="isAuthenticated()">
                Здравствуйте, <span sec:authentication="name">Bob</span> !
            </div>
        </th>
    </tr>
    <tr>
        <th sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/users}">
                <button type="button">Пользователи</button>
            </a>
        </th>
    </tr>
    </thead>
</table>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <h2>Пользователь</h2>
</div>
<div sec:authorize="isAnonymous()">
    <h2>Регистрация</h2>
</div>

<form method="post" th:action="@{/users}" th:object="${user}">
    <p>
        <label for="id">Id:</label>
        <input type="text" size="10" readonly id="id" th:field="*{id}"/><br>
        <label for="name">Фамилия:</label>
        <input type="text" size="40" id="name" th:field="*{firstName}"/><br>
        <label for="lastName">Имя:</label>
        <input type="text" size="40" id="lastName" th:field="*{lastName}"/><br>
        <label for="login">Логин:</label>
        <input type="text" size="40" id="login" th:field="*{login}"/><br>
        <label for="password">Пароль:</label>
        <input type="text" size="40" id="password" th:field="*{password}"/><br>
        <label for="email">Почта:</label>
        <input type="text" size="40" id="email" th:field="*{email}"/>
    </p>
    <p>
        <input type="submit" value="Сохранить">
    </p>
</form>
</body>
</html>