<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый заказ</title>
</head>
<body>

<h2>Заказ</h2>

<form method="post" th:action="@{/orders}" th:object="${order}">

    <table th:if="${not order.products.isEmpty()}">
        <thead>
        <tr>
            <th> Наименование</th>
            <th> Цена</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="product : ${order.products}">
            <td><a th:text="${product.getTitle()}">product</a></td>
            <td><a th:text="${product.getPrice()}">price</a></td>
            <td>
                <form th:method="delete" th:action="@{/order/del/{id}(id=${product.getId()})}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <p>
        <input type="submit" value="Создать заказ">
    </p>
</form>
</body>
</html>