<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>

<body>
<table>
    <thead>
    <tr>
        <th> Id</th>
        <th> Фамилия</th>
        <th> Имя</th>
        <th> Логин</th>
        <th> Email</th>
        <th> Роли</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td><span th:text="${user.getId()}">Id</span><br></td>
        <td><span th:text="${user.getFirstName()}">Имя</span><br></td>
        <td><span th:text="${user.getLastName()}">Имя</span><br></td>
        <td><span th:text="${user.getLogin()}">Имя</span><br></td>
        <td><span th:text="${user.getEmail()}">Имя</span><br></td>
        <td><span th:text="${user.getRoles()}">Имя</span><br></td>
    </tr>
    </tbody>
</table>

</body>
</html>