<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/style.css"/>
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>

<body>
<h2>Заказы</h2>

<div th:if="${orders.isEmpty()}">
    <td colspan="2"> Нет заказов</td>
</div>

<table th:if="${not orders.isEmpty()}">
    <thead>
    <tr>
        <th> №</th>
        <th> Дата</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td><a th:href="@{/orders/{id}(id = ${order.getId()})}" th:text="${order.getId()}">order</a></td>
        <td><a th:text="${order.getDate()}">date</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>