<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <link rel="stylesheet" type="text/css" href="../../static/style.css"/>
    <meta charset="UTF-8">
    <title>Товары</title>
</head>

<body>

<div sec:authorize="isAnonymous()">
    <a th:href="@{/login}">
        <button type="button">Войти</button>
    </a>
</div>
<div sec:authorize="isAuthenticated()">
    Здравствуйте, <span sec:authentication="name">Bob</span> !
<!--    (Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>)-->
</div>
<div sec:authorize="isAuthenticated()">
    <a th:href="@{/logout}">
        <button type="button">Выйти</button>
    </a>
</div>

<h2>Товары</h2>
<table>
    <thead>
    <tr>
        <th> Наименование</th>
        <th> Цена </th>
        <th>        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${products.isEmpty()}">
        <td colspan="2"> Нет доступных товаров</td>
    </tr>
    <tr th:each="product : ${products}">
        <td><a th:href="@{/products/{id}(id = ${product.getId()})}" th:text="${product.getTitle()}">product</a></td>
        <td><span th:text="${#numbers.formatDecimal(product.getPrice(), 0, 'COMMA', 2, 'POINT')}"> cost </span> </td>
        <td>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <form th:method="delete" th:action="@{/products/{id}(id=${product.getId()})}">
                    <input type="submit" value="Delete">
                </form>
            </div>
        </td>
        <td>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
<!--                <form th:method="editProduct" th:action="@{/products/{id}/edit(id=${product.getId()})}">-->
                <a href="/edit?id=${product.getId()}">Edit</a>
                <!--                <form th:method="editProduct" th:action="@{/products/edit}">-->
<!--                    <input type="submit" value="Edit">-->
<!--                </form>-->
            </div>
        </td>

        <td>
            <form th:method="add" th:action="@{/cart/{id}(id=${product.getId()})}">
                <input type="submit" value="Добавить в корзину">
            </form>
        </td>

    </tr>
    </tbody>
</table>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/products/new}">
        <button type="button">Добавить товар</button>
    </a>
</div>

</body>
</html>