<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/style.css"/>
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>

<body>

<table>
    <thead>
    <tr>
        <th>
            <div sec:authorize="isAuthenticated()">
                Здравствуйте, <span sec:authentication="name">Bob</span> !
            </div>
        </th>

        <th>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}">
                    <button type="button">Войти</button>
                </a>
            </div>

            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">
                    <button type="button">Выйти</button>
                </a>
            </div>
        </th>
    </tr>
    <tr>
        <th>
            <a th:href="@{/products}">
                <button type="button">Товары</button>
            </a>
        </th>
        <th sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/users}">
                <button type="button">Пользователи</button>
            </a>
        </th>

        <th>
            <a th:href="@{/cart}">
                <button type="button">Корзина</button>
            </a>
        </th>
    </tr>
    </thead>
</table>

<h2>Заказы</h2>

<div th:if="${orders.isEmpty()}">
    <td colspan="2"> Нет заказов</td>
</div>

<table th:if="${not orders.isEmpty()}">
    <thead>
    <tr>
        <th> №</th>
        <th> Дата</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td><a th:href="@{/orders/{id}(id = ${order.getId()})}" th:text="${order.getId()}">order</a></td>
        <td><a th:text="${order.getDate()}">date</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>