<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
</head>

<body>

<table>
    <thead>
    <tr>
        <th>
            <div sec:authorize="isAuthenticated()">
                Здравствуйте, <span sec:authentication="name">Bob</span> !
            </div>
        </th>

        <th>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}">
                    <button type="button">Войти</button>
                </a>
                <a th:href="@{/users/new}">
                    <button type="button2">Регистрация</button>
                </a>
            </div>

            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">
                    <button type="button">Выйти</button>
                </a>
            </div>
        </th>
    </tr>
    <tr>
        <th>
            <a th:href="@{/cart}">
                <button type="button">Корзина</button>
            </a>
        </th>
        <th>
            <a th:href="@{/products}">
                <button type="button">Товары</button>
            </a>
        </th>
        <th sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/users}">
                <button type="button">Пользователи</button>
            </a>
        </th>
        <th>
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/orders}">
                    <button type="button">Заказы</button>
                </a>
            </div>
        </th>
    </tr>
    </thead>
</table>

<p>
    Id: <span th:text="${product.getId()}">Id</span><br>
    Наименование: <span th:text="${product.getTitle()}">Name</span><br>
    Цена: <span th:text="${product.getPrice()}">Cost</span><br>
<!--    Кол-во: <span th:text="${product.getPrice()}">Qty</span><br>-->
</p>

<div>
    <form th:method="add" th:action="@{/cart/{id}(id=${product.getId()})}">
        <input type="submit" value="Добавить в корзину">
    </form>
</div>

</body>
</html>