<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>

<h2>Корзина</h2>

<div th:if="${cart.products.isEmpty()}">
    <h3> Корзина пуста</h3>
</div>

<table th:if="${not cart.products.isEmpty()}">
    <thead>
    <tr>
        <th> Наименование</th>
        <th> Цена</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="product : ${cart.products}">
        <td><a th:text="${product.getTitle()}">product</a></td>
        <td><a th:text="${product.getPrice()}">price</a></td>

        <td>
            <form th:method="delete" th:action="@{/cart/del/{id}(id=${product.getId()})}">
                <input type="submit" value="Удалить">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div th:if="${not cart.products.isEmpty()}">
    <form method="post" th:action="@{/orders}">
        <input type="submit" value="Оформить заказ">
    </form>
</div>

</body>
</html>