<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <link rel="stylesheet" type="text/css" href="../../static/style.css"/>
    <meta charset="UTF-8">
    <title>Товары</title>
</head>

<body>

<table>
    <thead>
    <tr>
        <th>
            <div sec:authorize="isAuthenticated()">
                Здравствуйте, <span sec:authentication="name">Bob</span> !
            </div>
        </th>

        <th>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}">
                    <button type="button">Войти</button>
                </a>
                <a th:href="@{/users/new}">
                    <button type="button2">Регистрация</button>
                </a>
            </div>

            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">
                    <button type="button">Выйти</button>
                </a>
            </div>
        </th>
    </tr>
    <tr>
        <th>
            <a th:href="@{/cart}">
                <button type="button">Корзина</button>
            </a>
        </th>
        <th sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/users}">
                <button type="button">Пользователи</button>
            </a>
        </th>
        <th>
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/orders}">
                    <button type="button">Заказы</button>
                </a>
            </div>
        </th>
    </tr>
    </thead>
</table>

<h2>Товары</h2>
<table>
    <thead>
    <tr>
        <th> Наименование</th>
        <th> Цена</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${products.isEmpty()}">
        <td colspan="2"> Нет доступных товаров</td>
    </tr>
    <tr th:each="product : ${products}">
        <td><a th:href="@{/products/{id}(id = ${product.getId()})}" th:text="${product.getTitle()}">product</a></td>
        <td><span th:text="${#numbers.formatDecimal(product.getPrice(), 0, 'COMMA', 2, 'POINT')}"> cost </span></td>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <td>
                <a th:href="@{/products/edit/{id}(id = ${product.getId()})}">Edit</a>
            </td>
            <td>
                <form th:method="delete" th:action="@{/products/{id}(id=${product.getId()})}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </div>

        <td>
            <form th:method="add" th:action="@{/cart/{id}(id=${product.getId()})}">
                <input type="submit" value="Добавить в корзину">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/products/new}">
        <button type="button">Добавить товар</button>
    </a>
</div>

</body>
</html>