<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
</head>

<body>
<!--<h2>Корзина</h2>-->
<p>
    Id: <span th:text="${product.getId()}">Id</span><br>
    Наименование: <span th:text="${product.getTitle()}">Name</span><br>
    Цена: <span th:text="${product.getPrice()}">Cost</span><br>
    Кол-во: <span th:text="${product.getPrice()}">Qty</span><br>
</p>

<div>
    <a th:href="@{/cart/new}">
        <button type="button">Добавить в корзину</button>
    </a>
</div>

</body>
</html>