<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>

<body>

<div sec:authorize="isAnonymous()">
    <a th:href="@{/login}">
        <button type="button">Войти</button>
    </a>
</div>
<div sec:authorize="isAuthenticated()">
    Здравствуйте, <span sec:authentication="name">Bob</span> !

    <a th:href="@{/logout}">
        <button type="button">Выйти</button>
    </a>
</div>

<h2>Пользователи</h2>
<table>
    <thead>
    <tr>
        <th> Имя</th>
        <th> Логин</th>
        <th> Email</th>
        <th> Роль</th>
        <th> Дата регистрации</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.isEmpty()}">
        <td colspan="2"> Нет данных по пользователям</td>
    </tr>

    <tr th:each="user : ${users}">
        <td><a th:href="@{/users/{id}(id = ${user.getId()})}"
               th:text="${user.getFirstName()}+' '+${user.getLastName()}">users</a></td>
        <td><a th:href="@{/users/{id}(id = ${user.getId()})}" th:text="${user.getLogin()}">users</a></td>
        <td><a th:href="@{/users/{id}(id = ${user.getId()})}" th:text="${user.getEmail()}">users</a></td>
        <td><a th:href="@{/users/{id}(id = ${user.getId()})}" th:text="${user.getRoles()}">users</a></td>
        <td><a th:href="@{/users/{id}(id = ${user.getId()})}" th:text="${user.getRegDate()}">users</a></td>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <td>
                <a th:href="@{/users/edit/{id}(id = ${user.getId()})}">Edit</a>
            </td>
            <td>
                <form th:method="delete" th:action="@{/users/{id}(id=${user.getId()})}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </div>
    </tr>
    </tbody>
</table>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/users/new}">
        <button type="button">Добавить пользователя</button>
    </a>
</div>

</body>
</html>
